button:focus { outline: none; }

.brand {
	text-align: center;
}

#submit_box {
	line-height: 0px;
	font-size: 12px;
	height: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#search_box {
	
}

#search_container {
	display: inline-block;
	width:70%;
}

.form-control {
	font-size: 12px;
	display: inline-block;
	margin-right: 0px;
	margin-left: 0px;

}

.form_field {
	display: inline-block;
	margin: 0px;
	padding: 0px;
	width:100%;
}

#min {
	display: inline-block;
	margin-left: 2%;
	width:12%;
}

#max {
	display: inline-block;
	width:12%;
}

.thumbnail {
	width: 100px;
}

.post {
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.price {
	margin-left: 15px;
	font-size: 12px;
}


.col-md-1 .form-group{
	position: relative;
	margin-top: 50px;
}

.col-md-1 .form-group .form-control {
	position: relative;
	width:55px;
	display:inline-block;
}

.comment_toggle {
	float:right;
	border: 0px;
	background: #F5F5F5;
	width: 16px;
	height: 16px;
	padding: 0px;
}


.panel-body {
	padding-bottom:10px;
}

.panel {
	border-radius: 4px;
}

.panel-group .panel {
	border:0px;
}


.panel-group {
	margin-bottom: 0px;
}

.panel-body {
	border-bottom: 1px solid #ddd;
}

